<div class="footer mt-auto py-3">
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <h2>Stay connected with us </h2>
        <p>Read and buy over 20,000 comics provided by Marvel Comics</p>

        <div class="row d-flex justify-content-center">
          <form class="form">
            <input type="email" id="email" class="form-control" placeholder="youremail@email.com">
            <button class="btn" id="signup">Sign Up</button>
          </form>
        </div>

        <div class="row d-flex justify-content-center">
          <img src="./assets/img/icon1.png">
          <img src="./assets/img/icon2.png">
          <img src="./assets/img/icon3.png">
          <img src="./assets/img/icon4.png">
        </div>

      </div>

      <div class="col-md-4">
        <ul class="list-group-flush">
          <li class="list-group-item">About us</li>
          <li class="list-group-item">Contact us</li>
          <li class="list-group-item">FAQ</li>
          <li class="list-group-item">Report</li>
          <li class="list-group-item">Visit me at <a href="www.github.com/caiookb">github.com/caiookb</a></li>
        </ul>
        <div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>