<!--
<div class="container">
  <h2>MOST READ COMICS</h2>
  <div class="row">
    <ul class='col-md-3' id="img" (click)="onSelect(comic)" *ngFor="let comic of comics | slice:-12:-8">
      <li>
        <img [src]="comic.thumbnail.path + '/portrait_medium.' + comic.thumbnail.extension">
      </li>
      <li>{{comic.title}}</li>
    </ul>
  </div>
</div>
-->

<div class="container">
  <div class="row">
    <div class="col-md-3" *ngFor="let comic of comics" routerLink="/details/{{comic.id}}">

      <div class="col">
        <img [src]="comic.thumbnail.path + '/portrait_uncanny.' + comic.thumbnail.extension" id="img"
          (click)="onSelect(comic)">
      </div>

      <div class="col">
        <span class="badge badge-danger" *ngIf="rareComic == comic"> RARO </span>
        <h5 class="title">{{comic.title}}</h5>
      </div>
    </div>
  </div>
</div>