<app-comics-details [comic]="selectedComic"></app-comics-details>

<div class="container">
  <h2>MOST READ COMICS</h2>
  <div class="row">
    <ul class='col-md-3' id="img" (click)="onSelect(comic)" *ngFor="let comic of comics | slice:-12:-8">
      <li>
        <img [src]="comic.thumbnail.path + '/portrait_medium.' + comic.thumbnail.extension">
      </li>
      <li>{{comic.title}}</li>
    </ul>
  </div>
</div>

<div class="container">
  <h2>COMICS</h2>
  <div class="row">
    <ul class='col-md-2' id="img" (click)="onSelect(comic)" *ngFor="let comic of comics">
      <li>
        <img [src]="comic.thumbnail.path + '/portrait_fantastic.' + comic.thumbnail.extension">
      </li>
      <li>{{comic.title}}</li>
    </ul>
  </div>
</div>