.container h1 {
  text-align: center;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.col-md-6 img {
  border: 5px solid rgb(255, 238, 0);
  margin-bottom: 30px;
}

.col-md-6 {
  text-align: center;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: lighter;
  border-bottom: 20px solid rgb(255, 238, 0);
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
}

.col-md-6 h2 {
  color: white;
  font-style: italic;
  font-size: 25px;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  border-top: 10px solid rgb(255, 238, 0);
  padding: 15px 15px;
}