img {
    height: 400px;
    width: 300px;
}

.col-md-6 {
    float: left;
    height: 500px;
}

.col-md-6 a {
    color: white;
}

.col-md-6 h4 {
    color: white;
    border-bottom: 20px solid rgb(216, 35, 42);
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
}